body {
    margin: 0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 
    "header"
    "nav"
    "main";
}

/* header */

header {
    color: white;
    display: grid;
    grid-template-columns: auto 300px;
    grid-area: header;
    background-color: #7477BF;
    grid-auto-flow: column;
    
}

.userinfo {
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto 90px 200px;
}


.userinfo {
    display: grid;
    grid-template-columns: 30px 30px 80px;
    height: 30px;
    width: 300px;
}

.userinfo > svg {
    height: 30px;
    width: 30px;
    margin-top: 15px;
}

.userinfo > h3 {
    margin-top: 20px;
}

#notification {
    margin-top: 5px;
    height: 50px;
    width: 20px;
    border-right: 1px solid #4C4C72;
    color: lightgreen;
}

#userimage {
    border-radius: 50%;
    height: 60px;
}

header > h1 {
    margin-left: 30px;
}

header > h1 > sup {
    font-size: 12px;
}

header > h3 {
    padding-top: 10px;
}

.alarmbell {
    stroke: white;
    fill: white;
}

/* nav bar */

nav {
    grid-area: nav;
    background-color: #4C4C72;
}

#linkbox > a > img {
    padding: 8px;
    width: 40px;
    height: 40px;
}

#linkbox {
    width: 280px;
    margin: 0 auto;
}


/* main section */
main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto 300px;
    grid-template-columns: minmax(0, 1fr);
}

.border-container {
    border-bottom: 1px solid #ececec;
}

.widget-container-full {
    margin-left: 10px;
}

.widget-container-half {
    margin: 10px;
}

#traffic-text {
    float: left;
}

#traffic-options {
    margin-top: 20px;
    float: right;
    display: flex;
    list-style: none;
}

.traffic-option-link {
    padding: 10px;
    cursor: pointer;
}

#traffic-options .active {
    background-color: #81C98F;
    color: white;
    border-radius: 20px;
}


#line-chart-canvas-container, #canvas-container-daily, #canvas-container-mobile {
    display: block;
    height: 200px;
} 

 /* Top of dashboard */
 .dashboard {
     display: grid;
     grid-template-columns: minmax(0, 200px) minmax(0, 1fr);
     height: 60px;
 }

 .dashboard > h2 {
     margin-left: 20px;
 }

 .search-bar {
    display: grid;
    grid-template-columns: minmax(0, auto) minmax(0, 400px);
    background-color: #f8f8f8;
    border-bottom: 1px solid#ececec;
    border-left: 1px solid #ececec;
    border-radius: 0 0 0 3px;
}

.search-bar > input {
    margin-top: 15px;
    margin-right: 20px;
    height: 30px;
    border-radius: 3px;
}

/* Alert box */

.alert-banner {
    background-color: #7477BF;
    color: white;
    margin: 20px 20px 0;
    padding: 0px 30px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 10px;
}

.alert-banner > p {
    grid-row: 1;
}

.alert-banner-close {
    cursor: pointer;
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 2em;     
    margin: -1em; 
 }

 /* Social stats */

#social-stats-flexcontainer {
     display: flex;
    justify-content: space-between;
}
.social-box {
    background-color: #fbfbfb;
    border-radius: 3px;
    border: 1px solid #ececec;
    /* width: 200px; */
 }

.social-svg {
    /* border-radius: 300px; */
    /* background-color: #7477BF; */
    /* width: 80px;
    height: 80px; */
}


/* SVG's */

svg {
    height: 90px;
    width: 90px;
}
/* Media queries */

@media (min-width: 768px) {
    .container {
    grid-template-columns: minmax(0, 60px) minmax(0, 1fr);
    grid-template-areas:
    "header header"
    "nav main";
    }

    header {
        grid-template-columns: minmax(0, 1fr) minmax(0, 320px);
    }

    main {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

    #linkbox {
        height: 100vh;
        display: block;
        width: 55px;
    }

    #linkbox > a > img {
        width: 25px;
        margin: 5px;
    }


    
    #daily-border-container {
        border-right: 1px solid #ececec;
    }

   .social, #alert, .dashboard, .border-container,#social-border-container {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    #traffic-header-flexcontainer {
        display: flex;
        grid-column: span 2;
    }

    #traffic-options {
        margin-left: auto;
    }

    .widget-container-full.traffic{    
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    .widget-container-full, .widget-container-half {
        margin-left: 30px;
    }
    #line-chart-canvas-container {
        grid-column: 1 / span 2;
    }

    #social-border-container {
        border-top: 1px solid #ececec;
    }

    .widget-container-full {
        width: 88vw;
    }

    .widget-container-half .daily {
        width: 45vw;
    }

    .widget-container-half .mobile {
        width: 45vw;
    }

    .search-bar {
        grid-template-columns: minmax(0, auto) minmax(0, 400px);
    }

    .search-bar > input {
        margin-right: 40px; 
    }
    
}