body {
    margin: 0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 
    "header"
    "nav"
    "main";
}

/* header */

header {
    color: white;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 280px);
    grid-area: header;
    background-color: #7477BF;
    grid-auto-flow: column;
}


.userinfo {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(0, 25px) minmax(0, 25px) minmax(0, 80px) minmax(0, auto);
    margin-top: 10px;
    height: 50px;
}

#dropdown-box > svg {
    height: 50px;
    width: 50px;
    margin-top: 15px;
}

.userinfo > h3 {
    margin-top: 20px;
}

#notification {
    margin-top: 5px;
    height: 50px;
    width: 20px;
    border-right: 1px solid #4C4C72;
    color: lightgreen;
}

.notifications-dropdown {
    position: absolute;
    top: 0px;
    right: 300px;
}

.notifications-dropdown > ul {
    list-style-type: none;
    color: #4C4C4C;
}

.notifications-dropdown > ul > li {
    display: flex;
    justify-content: space-between;
    border: 2px solid #767676;
    margin: 1px;
    background-color: #ececec;
}

.notifications-dropdown > ul > li > span {
    padding: 16px 10px;
}


.notifications-dropdown > ul > li > p {
    max-width: 300px;
}


#userimage {
    border-radius: 50%;
    height: 60px;
}

header > h1 {
    margin-left: 30px;
}

header > h1 > sup {
    font-size: 12px;
}

header > h3 {
    padding-top: 10px;
}



/* nav bar */

nav {
    grid-area: nav;
    background-color: #4C4C72;
}

#linkbox > a > img {
    padding: 8px;
    width: 40px;
    height: 40px;
}

#linkbox {
    width: 280px;
    margin: 0 auto;
}


/* main section */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}

.widget-container-full {
    margin: 0 20px;
}

.widget-container-full.social-stats {
    margin: 0 35px;
}

.widget-container-half {
    margin: 30px;
}

#traffic-header-flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#traffic-options {
    margin-top: 20px;
    float: right;
    display: flex;
    list-style: none;
}

.traffic-option-link {
    padding: 10px;
    cursor: pointer;
}

#traffic-options .active {
    background-color: #81C98F;
    color: white;
    border-radius: 20px;
}

.traffic-border-container {
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
}


#line-chart-canvas-container, #canvas-container-daily, #canvas-container-mobile {
    display: block;
    height: 200px;
} 

 /* Top of dashboard */
 .dashboard {
     display: grid;
     grid-template-columns: minmax(0, 200px) minmax(0, 1fr);
     height: 60px;
 }

 .dashboard > h2 {
     margin-left: 20px;
 }

 .search-bar {
    display: grid;
    grid-template-columns: minmax(0, auto) minmax(0, 400px);
    background-color: #f8f8f8;
    border-bottom: 1px solid#ececec;
    border-left: 1px solid #ececec;
    border-radius: 0 0 0 3px;
}

.search-bar > input {
    margin-top: 15px;
    margin-right: 20px;
    height: 30px;
    border-radius: 3px;
}

/* Alert box */

.alert-banner {
    background-color: #7477BF;
    color: white;
    margin: 20px 20px 0;
    padding: 0px 30px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 10px;
}

.alert-banner > p {
    grid-row: 1;
}

.alert-banner-close {
    cursor: pointer;
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 2em;     
    margin: -1em; 
 }

 /* Social stats */

#social-stats-flexcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social-box {
    display: flex;      
    border: 1px solid #ececec;
    background-color: #f9f9f9;
    width: 85vw;
    border-radius: 5px;
    /* padding-top: 20px; */
}

.social-box {
    margin: 10px auto;
}

.social-text-container > h4 {
    color: #7477BF;
    margin: 10px 0 0;
}

.social-text-container > span {
    font-size: 2.5em;
}

#social-border-container {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #ececec;
}

/* New members section */

.member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    padding: 10px;
}

.members-left {
    display: flex;
    flex-direction: row;
}

.member-info {
    padding: 5px;
}
.member-info > h5 {
    font-size: 13px;
    margin: 0 10px;
}


.member-info > a {
    margin: 0 10px;
    font-size: 13px;
}


.member-pic > img, .activity-pic > img{
    border-radius: 60px; 
    width: 50px;
    height: 50px;   
}

.member:last-child {
    border: none;
}

#members-border-container {
    border-bottom: 1px solid #ececec;
}

/* recent activity */
.activity-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    padding: 10px;
}

.activity-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity-text {
    padding: 10px;
}

.activity-text > p {
    font-size: 13px;
    margin: 0 10px;
}

.activity-box:last-child {
    border: none;
}

#activity-border-container {
    border-bottom: 1px solid #ececec;
}

/* message user */
#message-border-container {
    border-bottom: 1px solid #ececec;
    padding-right: 20px;
}

#search-user, #message-user {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
}

#message-user {
    margin-top: 15px;
    height: 76px;
}

#message-button {
    width: 102%;
    height: 40px;
    border-radius: 5px;
    margin-top: 7px;
    background-color: #7477BF;
    color: white;
}

/* settings */

#settings-text {
    margin: 0 0 20px;
}
#settings-button {
    width: 40%;
}

.switch {
    position: relative;
    display: block;
    width: 100px;
    height: 34px;
    color: white;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  .slider-text {
      position: absolute;
      top: 6.5px;
      left: 35px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(65px);
    -ms-transform: translateX(65px);
    transform: translateX(65px);
  }

  #sliders-container {
      width: 300px;
  }

  #notification-container, #public-container {
      display: flex;
      justify-content: space-between;
  }

  .widget-container-half.settings > p {
    font-size: 2px;
  }
  
  .notification-text {
    font-size: 13px;
  }

  #timezone {
      display: block;
      border-radius: 5px;
      padding: 10px;
      margin: 19px auto;
      height: 36px;
      width: 100%;
      background-color: #f9f9f9;
      border: 1px solid #e9e9e9
  }

  #settings-buttons-container {
      display: flex;
      justify-content: space-between;
  }

  #settings-save-button {
    width: 47%;
    height: 40px;
    border-radius: 5px;
    background-color: #7477BF;
    color: white;
  }

  #settings-cancel-button {
    width: 47%;
    height: 40px;
    border-radius: 5px;
    background-color: #bcbcbc;
    color: white;
  }

/* SVG's */

.social-svg-container {
    background-color: #7477BF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px;
}

.alarmbell {
    stroke: white;
    stroke-width: 20px;
    stroke-opacity: 0;
    fill: white;
    transition: fill 2s;
}

.alarmbell:hover {
    fill: #A7A7A7;
}

/* border containers */

.half-border-container {
    border-bottom: 1px solid #ececec;
}

/* Media queries */

@media (min-width: 768px) {
    .container {
    grid-template-columns: minmax(0, 60px) minmax(0, 1fr);
    grid-template-areas:
    "header header"
    "nav main";
    }

    header {
        grid-template-columns: minmax(0, 1fr) minmax(0, 280px);
    }

    main {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

    #linkbox {
        height: 100vh;
        display: block;
        width: 55px;
    }

    #linkbox > a > img {
        width: 25px;
        margin: 5px;
    }

    #daily-border-container {
        border-right: 1px solid #ececec;
    }

   .social, #alert, .dashboard, .traffic-border-container, #social-border-container {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    #traffic-header-flexcontainer {
        display: flex;
        grid-column: span 2;
    }

    #traffic-options {
        margin-left: auto;
    }

    .widget-container-full.traffic{    
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    .widget-container-full, .widget-container-half {
        margin-left: 30px;
    }
    #line-chart-canvas-container {
        grid-column: 1 / span 2;
    }

    .widget-container-half .daily {
        width: 45vw;
    }

    .widget-container-half .mobile {
        width: 45vw;
    }

    .search-bar {
        grid-template-columns: minmax(0, auto) minmax(0, 400px);
    }

    .search-bar > input {
        margin-right: 40px; 
    }

    .social-box {
        width: 28vw;
    }


    #social-stats-flexcontainer {
        flex-direction: row;
    }

    .member {
        flex-direction: column-reverse;
    }

    #members-border-container {
        border-right: 1px solid #ececec;
    }

    .members-right > p {
        margin: 0 0 10px 0;
    }

    #message-border-container {
        border-right: 1px solid #ececec;
    }
}

@media (min-width: 1000px) {
    .member {
        flex-direction: row;
    }

    .members-right > p {
        margin: 10px 0;
    }
}